
<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Little Brother</a>
          <ul class="nav">
          </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
  <ul>
  {{#tattles}}
    <li>
      <h4><span class="category {{Category}}">{{Category}}</span><h4>
      <p>{{Path}}</p>
      <p>{{Info}}</p>
      
      <p>{{SessionId}}</p>
      <p>{{Restaurant.Name}} {{Restaurant.RestaurantId}}</p>
      <p>{{Territory.TerritoryName}} {{Territory.TerritoryId}}</p>
      <p>{{Customer.Name}} {{Customer.Email}} {{Customer.Phone}}</p>
    </li>
  {{/tattles}}
  </ul>
</div>
    
<footer>
    <p>&copy; <a target="_blank" href="http://localup.com">LocalUp</a> 2011</p>
    <p><img src="/made-in-baltimore.png" /></p>
</footer>
